@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollUpDown {
  0%, 100% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(-20%);
  }
}

.animate-scrollUpDown {
  animation: scrollUpDown 15s linear infinite;
}